@import "../../../assets/theme.scss";

.prod-card {
  cursor: pointer;
  border: 1px solid white;
  &-image {
    img {
      width: 100%;
    }
  }
  &-info {
    background-color: white;
    padding: 4px 8px;
    &-title {
      color: $primary-text-color;
      font-size: 16px;
      line-height: 18px;
      margin: 0;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-size {
      font-size: 12px;
      color: #6e7272;
    }
    &-price {
      text-align: center;
      color: $primary-color;
      font-size: 28px;
      font-weight: 700;
      margin: 0 5px;
      text-decoration: none;
    }
  }
  &-dicount {
    position: absolute;
    top: 0;
    padding: 3px 10px 3px 10px;
    color: $primary-color-text;
    background-color: $primary-color-dark;
    font-size: 16px;
  }
  &:hover {
    border: 1px solid $primary-color;
  }
}

// @media (max-width: 767px) {
//   .banner-image {
//     height: auto;
//     margin: 5px auto;
//   }
// }
