<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="getProductName(r)" [term]="t"></ngb-highlight>
</ng-template>

<div [formGroup]="parent">
    <div formArrayName="items">

        <div *ngFor="let item of parent['controls'].items['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="form-row">
                    <div class="col-auto"><label class="form-control form-control-sm">{{i+1}} </label> </div>
                    <div class="col">
                        <input id="supplierId" type="text" class="form-control form-control-sm"
                            formControlName="product" [ngbTypeahead]="searchProduct" [editable]='false' 
                            [resultFormatter]="productFormatter" [inputFormatter]="productFormatter"
                            placeholder="Product name / barcode" />
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control form-control-sm" formControlName="quantity"
                            id="quantity" placeholder="Quantity {{ i + 1 }}" />
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control form-control-sm" formControlName="purchase_price"
                            id="purchase_price" (change)="updateTotal()" placeholder="Purchase price {{ i + 1 }}" />
                    </div>
                    <div class="col-1">
                        <label class="form-control form-control-sm text-right">{{parent.value.items[i].quantity *
                            parent.value.items[i].purchase_price}}</label>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-danger" (click)="onRemoveItem(i)"><i
                                class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col"><strong></strong></div>
            <div class="col-auto"><strong> Total</strong></div>
            <div class="col-1 text-right">
                <label class="form-control form-control-sm text-right"><strong> {{total}}</strong></label>
            </div>
            <div class="col-auto">
                &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
        </div>
    </div>
</div>