<div class="container my-3">
    <div class="row" *ngFor="let offer of offers">
        <div class="col-12">
            <div class="title-line my-5">
                <span>{{offer.title}}</span>
            </div>
        </div>
        <div class="col-12 mb-2" *ngFor="let ofr of offer.items; let i = index"
            [ngClass]="ofr.full_width?'col-md-12':'col-md-6'">
            <offer-box [offer]='ofr'></offer-box>
        </div>
    </div>
</div>
<!-- <div class="container my-5">
    <div class="row">
        <div class="col-12 offer-box" *ngFor="let ofr of offers; let i = index"
            [ngClass]="{'left': i%2==1, 'right':i%2==0 && i!=0, 'col-md-6':i >= 1}">
            <offer-box [offer]='ofr'></offer-box>
        </div>
    </div>
</div> -->