<div class="container-fluid component-head">
    <h3>New Products</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 bg-white">
            <product-form [item]="product" [brands]="brandPage?.docs" [categories]="categoryPage?.docs"
                [subCategories]="subCategoryPage?.docs" [subSubCategories]="subSubCategoryPage?.docs"
                [err]="errorMessage" (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)"
                (selectCategory)="handleCateogySelect($event)" (selectSubCategory)="handleSubCateogySelect($event)">
            </product-form>
        </div>
    </div>
</div>