<div class="container-fluid component-head">
    <h3>SubSubCategories</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <sub-sub-category-table [subSubCategoryPage]="subSubCategoryPage" [imageUrl]="imageUrl"
                (edit)="onEdit($event)" (refresh)="refreshData($event)">
            </sub-sub-category-table>
        </div>
        <div class="col-md-5">
            <div class=" border rounded bg-white">
                <sub-sub-category-form [item]="subSubCategory" [categories]="categoryPage?.docs"
                    [subCategories]="subCategoryPage?.docs" [err]="errorMessage" (create)="onCreate($event)"
                    (update)="onUpdate($event)" (delete)="onDelete($event)"
                    (selectCategory)="handleCateogySelect($event)">
                </sub-sub-category-form>
            </div>
        </div>
    </div>
</div>