<div class="border">
    <div class="navbar navbar-light bg-light">
        <div class="form-head">
            {{exists?'Update': 'New'}} Inventory
        </div>
        <a type="button" class="btn btn-primary btn-sm" routerLink="/dashboard/inventory">
            <i class="fa fa-list"></i> Inventory List
        </a>
    </div>

    <form [formGroup]="form" class="p-3" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false">

        <div class="form-row">
            <div class="col-md-6">
                <form-input [fieldId]="'reference'" [control]="form.get('reference')"></form-input>
            </div>
            <div class="col-md-6">
                <form-select [fieldId]="'inventoryType'" [control]="form.get('inventoryType')"
                    [options]="inventoryTypes">
                </form-select>
            </div>

            <!-- Search Warehouse -->
            <div class="col-md-6">
                <label for="warehouse" class="d-none d-sm-block col-form-label col-form-label-sm p-0">Warehouse*</label>
                <input id="warehouse" type="text" class="form-control form-control-sm" formControlName="warehouse"
                    [ngbTypeahead]="searchWarehouse" [resultFormatter]="warehouseFormatter"
                    [inputFormatter]="warehouseFormatter" [editable]='false' placeholder="Warehouse name" />
                <small class="form-text text-danger"
                    *ngIf="form.controls.warehouse.errors && form.controls.warehouse.touched">Warehouse
                    Required</small>
            </div>

            <!-- Search Supplier -->
            <div class="col-md-6">
                <label for="supplier" class="d-none d-sm-block col-form-label col-form-label-sm p-0">Supplier*</label>
                <input id="supplier" type="text" class="form-control form-control-sm" [ngbTypeahead]="searchUser"
                    formControlName="supplier" [resultFormatter]="userFormatter" [inputFormatter]="userFormatter"
                    [editable]='false' placeholder="Supplier name / phone" />
                <small class="form-text text-danger"
                    *ngIf="form.controls.supplier.errors && form.controls.supplier.touched">Supplier
                    Required</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 my-3">
                <inventory-item-form [parent]="form" (removeItem)="onRemoveInventoryItem($event)"></inventory-item-form>
                <button class="btn btn-sm btn-info" type="button" (click)="pushInventoryItem()">
                    <i class="fa fa-plus"></i> Add Item
                </button>
            </div>
        </div>

        <!-- Buttons -->
        <div class="d-flex flex-row-reverse bd-highlight">
            <span (mouseenter)="mouseoverShifting = true">
                <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                    'Update':'Save'}}</button>
            </span>
            <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
        </div>

        <!-- Form validation error list -->
        <div *ngIf="mouseoverShifting" class="text-danger">
            <form-validator [form]="form"></form-validator>
        </div>

    </form>
</div>