<div class="form-group">
    <label *ngIf="showLabel" [for]="fieldId" class="d-none d-sm-block col-form-label col-form-label-sm p-0">
        {{label}}<span *ngIf="validator?.required">*</span>
    </label>

    <div class="input-group mb-1 mb-sm-0">
        <input [type]="showPassword ? 'text' : 'password'"  class="form-control form-control-sm" [id]="fieldId" [formControl]="control"
            [placeholder]="label" />
        <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                <i class="fa fa-eye" [ngClass]="showPassword?'fa-eye-slash':'fa-eye'"></i>
            </button>
        </div>
    </div>

    <form-property-validator [validationErrors]="validationErrors" [name]="label"></form-property-validator>
</div>