<div class="form">

    <ng-container *ngIf="err.length>0">
        <p class="m-0 text-center text-danger bg-white">{{err}}</p>
    </ng-container>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-block">
            <!-- Form elements -->
            <form-input [fieldId]="'name'" [control]="form.get('name')"></form-input>
            <form-input [fieldId]="'phone'" [control]="form.get('phone')" [readonly]="true"></form-input>
            <form-input [fieldId]="'email'" [control]="form.get('email')"></form-input>
            <form-input [fieldId]="'cus_add1'" [control]="form.get('cus_add1')"></form-input>
            <form-input [fieldId]="'cus_add2'" [control]="form.get('cus_add2')"></form-input>
            <form-input [fieldId]="'cus_city'" [control]="form.get('cus_city')"></form-input>
            <form-input [fieldId]="'cus_country'" [control]="form.get('cus_country')" [readonly]="true"></form-input>
            <form-input [fieldId]="'deliveryInstruction'" [control]="form.get('deliveryInstruction')"></form-input>

            <!-- Buttons -->
            <div class="d-flex flex-row-reverse">
                <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
                    <button type="submit" class="btn btn-sm btn-success mx-1" [disabled]="!form.valid">Update</button>
                </span>
                <button class="btn btn-sm btn-danger mx-2" (click)="onClose()">Close</button>
            </div>

            <!-- Form validation error list -->
            <div *ngIf="mouseoverShifting" class="text-danger">
                <form-validator [form]="form"></form-validator>
            </div>
        </div>

    </form>
</div>