<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="title-line">
                <span>Popular Products</span>
            </div>
        </div>
        <div class="col-12 p-0 p-md-3 popular-products">
            <div class="row m-0 p-1">
                <div class="col-6 col-md-3 p-1" *ngFor="let product of products">
                    <product-box [product]="product" [thumbUrl]="thumbUrl"></product-box>
                </div>
            </div>
        </div>
    </div>
</div>