<nav class="navbar navbar-light bg-light border border-bottom-0">
    <a class="navbar-brand">{{ exists ? "Update" : "Add" }} Product</a>
</nav>

<div class="list-group" *ngIf="!brand">
    <li class="list-group-item"><strong>Please select a Brand first</strong></li>
    <a class="list-group-item list-group-item-action list-group-item-light py-1 text-dark" *ngFor="let brand of brands"
        (click)="onBrand(brand._id)">{{brand.name}}</a>
</div>

<div class="list-group" *ngIf="brand && !category">
    <li class="list-group-item"><strong>Please select a Category</strong></li>
    <a class="list-group-item list-group-item-action list-group-item-light py-1 text-dark"
        *ngFor="let cat of categories" (click)="onCategory(cat._id)">{{cat.name}}</a>
</div>

<div class="list-group" *ngIf="category && !subCategory && subCategories?.length">
    <li class="list-group-item"><strong>Please select a Sub-Category</strong></li>
    <a class="list-group-item list-group-item-action list-group-item-light py-1 text-dark"
        *ngFor="let scat of subCategories" (click)="onSubCategory(scat._id)">{{scat.name}}</a>
</div>

<div class="list-group" *ngIf="subCategory && !subSubCategory && subSubCategories?.length">
    <li class="list-group-item"><strong>Please select a Sub-Sub-Category</strong></li>
    <a class="list-group-item list-group-item-action list-group-item-light py-1 text-dark"
        *ngFor="let sscat of subSubCategories" (click)="onSubSubCategory(sscat._id)">{{sscat.name}}</a>
</div>

<!-- {{form.value | json}} -->
<form [formGroup]="form" (ngSubmit)="submit()" class="p-3 border bg-white mb-5" (mouseleave)="mouseoverShifting = false"
    *ngIf="brand && category && subCategories &&  (subSubCategories?.length == 0 || subSubCategory)">

    <form-object-label [label]="'Brand*'" [name]="brand.name" (onChange)="onBrandChange()"></form-object-label>
    <form-object-label [label]="'Category*'" [name]="category.name" (onChange)="onCategoryChange()"></form-object-label>
    <form-object-label [label]="'SubCategory*'" [name]="subCategory.name" (onChange)="onSubCategoryChange()">
    </form-object-label>
    <form-object-label *ngIf="subSubCategory" [label]="'SubSubCategory'" [name]="subSubCategory?.name"
        (onChange)="onSubSubCategoryChange()"></form-object-label>

    <!-- Form elements -->
    <form-input [fieldId]="'barcode'" [control]="form.get('barcode')"></form-input>
    <form-input [fieldId]="'name'" [control]="form.get('name')"></form-input>
    <form-textarea [fieldId]="'description'" [control]="form.get('description')"></form-textarea>
    <div class="row">
        <div class="col-md-6">
            <form-input [fieldId]="'priority'" [control]="form.get('priority')" [type]="'number'"></form-input>
        </div>
        <div class="col-md-6">
            <form-input [fieldId]="'point'" [control]="form.get('point')" [type]="'number'"></form-input>
        </div>
        <div class="col-md-6">
            <form-input [fieldId]="'size'" [control]="form.get('size')"></form-input>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form-input [fieldId]="'price'" [control]="form.get('price')" [type]="'number'"></form-input>
        </div>
        <div class="col-md-6">
            <form-input [fieldId]="'mrp'" [control]="form.get('mrp')" [type]="'number'"></form-input>
        </div>
    </div>
    <form-file [fieldId]="'thumb'" [form]="form" [hints]="'Preferred image size is 400x400 px'" (err)="onError($event)">
    </form-file>
    <form-file [fieldId]="'images'" [form]="form" [maxFileCount]="4" [hints]="'Preferred image size is 1024x400 px'"
        (err)="onError($event)">
    </form-file>


    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'Update':'Save'}}</button>
        </span>
        <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>