<nav class="navbar navbar-light bg-light border border-bottom-0">
    <a class="navbar-brand">Change password of {{ item?.name }}</a>
</nav>
<!-- {{item | json}} -->
<form [formGroup]="form" (ngSubmit)="submit()" class="p-3 border" (mouseleave)="mouseoverShifting = false">
    <form-object-label [label]="'Name'" [name]="item?.name" [showButton]="false"></form-object-label>
    <form-object-label [label]="'Phone'" [name]="item?.phone" [showButton]="false"></form-object-label>

    <form-password [fieldId]="'password'" [control]="form.get('password')"></form-password>

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid"> Update </button>
        </span>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>