<div class="form-group" [class]="col?'':'row'">
    <label *ngIf="showLabel" [for]="fieldId" class="d-none d-sm-block col-form-label col-form-label-sm"
        [class]="col?'p-0':'col-sm-3'">
        {{label}}<span *ngIf="validator?.required">*</span>
    </label>
    <div [class]="col?'':'col-sm-9'">
        <input [type]="type" class="form-control form-control-sm" [id]="fieldId" [formControl]="control"
            autocomplete="off" [placeholder]="label" [maxlength]="maxlength" [readonly]="readonly"
            (change)="onValueChange($event)">
        <form-property-validator [validationErrors]="validationErrors" [name]="label"></form-property-validator>
    </div>
</div>