<section class="home-hero">
  <div class="amplienceContent">
    <div class="position-relative breakout-background-color">
      <div class="banner-full-outer">
        <picture>
          <img src="assets/images/banners/home.png" >
          <!-- <source media="(min-width: 1190px)" type="image/webp" srcset="//assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3.webp?w=50% 1x,
                    //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3.webp 2x">
          <source media="(min-width: 1190px)" srcset="//assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3?w=50% 1x,
                    //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3 2x">
          <source media="(min-width: 768px)" type="image/webp" srcset="//assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3.webp?w=50% 1x,
                    //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3?w=50% 1x,
                    //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_DESK_V3 2x">
          <source media="(min-width: 320px)" type="image/webp"
            srcset="//assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_MOB_V3.webp?h={50%}&amp;w=768&amp;sm=c&amp;$poi$ 1x,
                //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_MOB_V3.webp?h={100%}&amp;w=1536&amp;sm=c&amp;$poi$ 2x">
          <img class="variable-width-crop carousel-item-image no-pointer-events" alt="Hero Carousel"
            srcset="//assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_MOB_V3?h={50%}&amp;w=768&amp;sm=c&amp;$poi$ 1x,
                            //assets.iceland.co.uk/i/iceland/ECOM_C5P3_SOHP_BIRTHDAY_HERO_MOB_V3?h={100%}&amp;w=1536&amp;sm=c&amp;$poi$ 2x"> -->
        </picture>
        <div class="banner-full-inner">
          <div class="content-width">
            <div class="container d-flex justify-content-start align-items-end h-100 py-3">
              <div
                class="px-3 d-flex justify-content-between justify-content-md-start align-items-center flex-row mx-auto mb-0 md-0">
                <a href="https://www.iceland.co.uk/50th-birthday"
                  onclick="dataLayer.push({event: 'promotionClick',eventCategory: 'Ecommerce',eventAction: 'Promotion Click',eventLabel: 'HP_Hero_1'});"
                  class="btn btn-success auto-pointer-events mr-3 px-4">Shop Now</a>
                <a href="https://www.iceland.co.uk/account" class="btn btn-secondary auto-pointer-events px-4">Sign
                  In</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="delivery-options-display">
  <div class="container my-4">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-auto">
            <img class="delivery-icon" src="assets/images/svgs/van.svg" alt="" />
          </div>
          <div class="col">
            <span class="text-danger">
              <h4 class="m-0"><strong> Free Next Day Delivery </strong></h4>
            </span>
            <span>When you spend ৳1000 online</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <form class="form-inline">
          <div class="form-group mb-2">
            <label>Check if we can deliver to you</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your post code">
          </div>
          <button type="submit" class="btn btn-success mb-2">Check Postcode</button>
        </form>
      </div>
    </div>
  </div>
</section>
