<!-- <div class="container-fluid p-0 mb-4">
  ​<picture>
    <img class="img-fluid" src="assets/images/banners/home.png">
  </picture>
  <div class="container">
    abc
  </div>
</div> -->

<section class="home-hero">
  <div class="position-relative">
    <div class="banner-full-outer">
      <picture>
        <img class="img-fluid carousel-item-image" [src]="imageUrl + hero?._id">
      </picture>
      <div class="banner-full-inner">
        <div class="content-width">
          <div class="container d-flex justify-content-start align-items-end h-100 py-3">
            <div
              class="px-3 d-flex justify-content-between justify-content-md-start align-items-center flex-row mx-auto mb-0 md-0">
              <a class="btn btn-sm btn-success auto-pointer-events mr-3 px-4"
                [routerLink]="'/features/'+hero?.slug">Shop Now</a>
              <a *ngIf="!isAuthenticated" class="btn btn-sm btn-secondary auto-pointer-events px-4"
                routerLink="/login">Sign
                In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="delivery-options-display">
  <div class="container my-4">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-auto">
            <img class="delivery-icon" src="assets/images/svgs/van.svg" alt="" />
          </div>
          <div class="col">
            <span class="text-danger">
              <h4 class="m-0"><strong> Free Next Day Delivery </strong></h4>
            </span>
            <span>When you spend ৳1000 online</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <form class="form-inline">
          <div class="form-group mb-2">
            <label>Check if we can deliver to you</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Enter your post code">
          </div>
          <button type="submit" class="btn btn-success mb-2">Check Postcode</button>
        </form>
      </div>
    </div>
  </div>
</section>