:host {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  display: block;
  position: relative;
  min-height: calc(100% - 57px);
  background-color: #f2f4f5;
}

.banner-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .banner-image {
    height: auto;
    margin: 5px auto;
  }
}

.cart-item {
  position: fixed;
  top: calc(110px + 30%);
  right: 0;
  z-index: 2000;
  cursor: pointer;
  width: 75px;
  height: 75px;
  // background: #f5fceb;
  background: #ffd300;
  box-shadow: 0 0 16px -1px rgb(0 0 0 / 75%);
  transition: 0.1s ease-in-out;

  .cart-icon {
    display: block;
    width: 24px;
    margin: auto;
    padding: 3px;
  }
  .cart-count {
    padding-top: 5px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .cart-amount {
    margin-top: 4px;
    background-color: #c3161c;
    text-align: center;
    color: #ffd300;
  }
}

@media (max-width: 767px) {
  .cart-item {
    top: 30%;
    width: 50px;
    height: auto;
    .cart-icon {
      width: 20px;
      padding: 2px;
    }
    .cart-count {
      padding-top: 3px;
      font-size: 13px;
    }
    .cart-amount {
      margin-top: 2px;      
    }
  }
}
