<div class="form">
    <div class="title">
        Your Details
    </div>
    <ng-container *ngIf="err.length>0">
        <p class="m-0 text-center text-danger bg-white">{{err}}</p>
    </ng-container>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-block">
            <!-- Form elements -->
            <form-input [fieldId]="'name'" [control]="form.get('name')"></form-input>
            <form-input [fieldId]="'phone'" [control]="form.get('phone')"></form-input>
            <form-input [fieldId]="'email'" [control]="form.get('email')"></form-input>
            <form-password [fieldId]="'password'" [control]="form.get('password')"></form-password>

            <!-- Buttons -->
            <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!form.valid">Register</button>
            </span>

            <!-- Form validation error list -->
            <div *ngIf="mouseoverShifting" class="text-danger">
                <form-validator [form]="form"></form-validator>
            </div>
        </div>

    </form>
</div>