<div class="container">
    <div class="row">
        <div class="col-12 bg-white my-3">
            <h3 class="text-center "><u>Terms & Conditions</u></h3>
            <p>The terms and conditions for the use of our website and for offer, bonus, savings scheme, your
                relationship with Wada Bangladesh Limited have been mentioned below:</p>
            <p>Please read these terms and conditions carefully. By using our website, snatch our offer or put forward
                an order.</p>
            <strong>Website</strong>
            <ul>
                <li>You are cordially welcome to our website, access your online account or offer information or to
                    place an online order.
                </li>
                <li>
                    You must not hack into our website, attempt to post content which is in any way offensive or
                    obscene, or use our website or your online shopping account to distribute any kind of computer
                    virus.
                </li>
                <li>
                    You are not permitted to link to our website from any of your own sites or business pages, without
                    our prior approval.
                </li>
                <li>
                    We may include links on our website to other sites that are not controlled by us. We are not
                    responsible for any content on such websites.
                </li>
                <li> We will try to make firm about any details, descriptions and prices which appear on our website
                    are accurate. Sometimes errors can occur. We will try to reform pricing errors and others as soon as
                    possible. We have the right to correct any error or omission without any prior notice.
                </li>

            </ul>


            <strong> Intellectual Property</strong>
            <ul>
                <li>
                    All copyright, trademarks and all other intellectual property rights in all material or content
                    supplied
                    as a part of the website will remain at all times be vested in all rights are reserved.
                </li>
                <li>You may use the content on our website for your personal use in placing orders through our website
                    or informing yourself in respect of our business. However, you must not otherwise copy, reproduce,
                    transmit, publish, display, distribute, commercially exploit, use or create derivative works of any
                    material data and content on our website without our prior written permission.
                </li>
                <li>
                    "wada" is trademarks under Wada Bangladesh Limited registered by Department of Patents, Designs &
                    Trademarks, Bangladesh. Use of this trademark will not be allowed without our express written
                    permission.
                </li>
            </ul>

            <strong>Setting up an Online Account</strong>
            <ul>
                <li>18 or above 18 will be allowed to open an online shopping account with us or to place any orders.
                    We are entitled to rely on your account set-up information as confirmation of this.
                </li>
                <li>Your delivery address will be required for our delivery service. Your location, mobile number,
                    email will be used for our business purpose.
                </li>
                <li> You must have a valid debit/credit card, Mustard, VISA and mobile banking (bKash, Rocket, Nagad
                    etc.) or any legal approval payment system checkout account in your name, attached to your online
                    shopping account.
                </li>
                <li> You have to keep your contact details updated, so that we can make contact with you about your
                    orders. You can do this via your online account or by calling our customer care team in a friendly
                    way.
                </li>
                <li> Your username and password will be necessitated to keep secured. You will be responsible for all
                    activities and orders made under this username and password.
                </li>
                <li> We monitor and track all online purchases and transactions. We reserve the right, at our sole
                    discretion, to suspend or cancel any customer online account, at any time.
                </li>
                <li> You have to agree to these terms and conditions in their entirety to shop online with us.</li>

            </ul>


            <strong>Setting up an Online Account</strong>
            <ul>
                <li> When our website will be browsed, the mentioned prices will be also the prices for the next time
                    delivery. Firstly, you have to login, pick your products, and select your delivery date, the prices
                    displayed at checkout only will be charged. Price will not be charged until your order is ready for
                    delivery.
                </li>
                <li> It is always possible that, in spite of our best efforts, sometimes pricing on our website may not
                    be correct. We have the right to refuse to process any order placed on our website based on
                    information that may contain errors or inaccuracies, including without limitation, out-of-date
                    information regarding pricing or delivery. We will endover to inform you by email where there is a
                    pricing mistake in an order you have placed, giving you the option of continuing to purchase at the
                    correct price or amending the order. If we are unable to contact with you, we may at our discretion,
                    decide to cancel the order. If the pricing error is obvious and unmistakable and could have
                    reasonably been recognized by you as genuine mispricing by us, we will not provide the products to
                    you at the incorrect (lower) price.
                </li>
                <li> BDT 1500 will be the minimum order value for online orders, including this an additional delivery
                    charge of BDT 50 will be charged, as shown at checkout. You will receive free delivery on all orders
                    over BDT 2500. The minimum order value will be calculated after all discounts and promotional
                    offers.
                </li>
                <li> Mentioned price will include Value Added Tax. We endeavor to keep our website updated with prices
                    which indicate the current rate of VAT. VAT will be charged the current prevailing rate on the day
                    of your delivery.
                </li>
                <li> All delivery slots, including next day delivery slots, are subject to availability. You must
                    complete your order (including any amendments) by 11 pm on the day before your order is due for
                    delivery. Further information on deliveries can be found in the Delivery section.
                </li>
                <li> We accept payment from MasterCard, Visa Credit, Visa Debit (Bangladesh's government registered
                    cards only). The address to which the card is registered must be the same as the billing address.
                    The card used to confirm the order must be the same card used to complete the order. We are
                    accepting cash on delivery and cheques.
                </li>
                <li> When you place your order, we will carry out an immediate pre-authorization check on your payment.
                    This will reserve for the full value of your order placed on the order date, it means these funds
                    will no longer be available to you. If you reduce your order value, the value of the
                    pre-authorization will remain the same and the full value of your order will be taken on the date of
                    your delivery. You will be refunded at the difference time if the full cost of your order on the
                    date of delivery is less than the Original order value. However, the refund may take up to 5 working
                    days to appear depending on your card/mobile banking issuer.
                </li>
                <li> If we are unable to process your pre-authorisation card payment on the date of placing your order,
                    your order will not be placed. If we are not able to process your amended order pre-authorisation
                    payment, then the amendments will not be made to the order.
                </li>
                <li> When you have placed an order on the website, we will send you an email assuring your order. This
                    is not confirmation that your order has been accepted by us.
                </li>
                <li> A legal binding contract will only arise when we will complete delivery of the products to you.
                    When products will be delivered to you, you will be the owner of the products. You will have no
                    legal liability in connection with your order until the products have been delivered to you.
                </li>
                <li> The images of the products on the website have illustration but your products may vary slightly
                    from those images. The packaging of the products may vary from that shown on images on our website.
                </li>
                <li> We do our best to ensure that we have a wide range of products available every day, but sometimes
                    we run out of certain products. If we have run out of any products that you have ordered, we will
                    try to replace them with the same product of better value, with no change in the price. We will
                    never replace unavailable products with products of a lower value or smaller pack size. We will
                    issue a refund for any products which we do not supply.
                </li>
                <li> We do not supply products for resale unless we have specifically agreed this with you in writing.
                    All products will be supplied only for your own use.
                </li>
                <li> Our company aims to comply with your legal rights to be of satisfactory products quality, to be fit
                    for purpose, and to match with description. These rights are known as your statutory rights.
                </li>
                <li> Covid-19 outbreak multiple orders due to pandemic situation, any person placing more than one order
                    to the same location within 2 consecutive days will only their first order be processed. Any
                    additional orders placed for delivery during that time will be cancelled.
                </li>
            </ul>


            <strong> Amending or Cancelling Your Online Order and Refund Process </strong>
            <ul>
                <li> You can cancel or amend your order at any time up to 11 pm the day before your order is due to be
                    delivered. We allow up to five amendments per order if the order value is increased during an order
                    change. If the order value remains the same value or less, there are no limitations on how many
                    times you amend the order. The increase in order value are subject to the pre-authorisation check on
                    your payment account.
                </li>
                <li>
                    You also have a legal right to cancel an order at any time up to 14 working days (not including
                    Saturdays, Sundays or public holidays) from the day after the day the products are delivered to you.
                    You are welcome to change your mind and decide that you do not want to keep the product. You can
                    notify us about your decision to cancel and receive a refund. This right to cancel does not apply
                    to:
                    <ol>
                        <li>perishable products, such as organic food; and/or perishable products, such as organic food;
                            and/or</li>
                        <li>items which cannot be resold for health and hygiene reasons once unwrapped (for example,
                            personal grooming products and certain baby products etc.)</li>
                    </ol>
                </li>
                <li>
                    How to cancel:
                    <ol>
                        <li>Please either log in to your online account, select order history, and cancel the relevant
                            order, or contact us via our Customer Care team. You will have to provide the email address
                            registered with your account and confirm the order number you want to cancel. The
                            pre-authorisation on the card will be cancelled this may take up to 5 working days to
                            process depending on your card issuer.</li>
                        <li>
                            Please contact with our Customer Care team, by filling in this online form or call Customer
                            Care on: +880 1730785675 and provide the email address registered with your account, and
                            confirm the order number you want to cancel. The money will be refunded to your account as
                            soon as possible and, in any case, within 14 calendar days of notification of cancellation.
                        </li>
                        <li>
                            Please contact with our Customer Care team by filling in this online form or call Customer
                            Care on: +880 1730785675 and provide the email address registered with your account number.
                            We will refund as soon as possible and, in any case, within 14 calendar days after the day
                            on which we receive the products back, or 14 days after the day on which you gave us the
                            evidence of having sent the products back, whichever is sooner. We will usually refund you
                            by the same method as your original payment.
                        </li>
                        <li>
                            Reasonable care of goods: You must take reasonable care of the products to be returned and
                            store them in an appropriate manner, e.g. frozen products must be kept in a freezer. Unless
                            the products were misdescribed on our website or are faulty, we may require you to return
                            the products at your own cost. The products must be returned undamaged and in the original
                            packaging.
                        </li>
                    </ol>
                </li>
            </ul>

            <strong>Picking Your Order</strong>
            <ul>
                <li>We take great care to source the best products that we possibly can. This can involve products being
                    sourced from countries around the world. As a result, you may receive the same product from a number
                    of different countries at different times throughout the year.</li>
                <li> When we pick your order, we will select products with a reasonable amount of time left on the
                    expiry date. However, some fresh products items have naturally a limited shelf life, so it is
                    reasonable for them to have a shelf life of less than two days when they are delivered to you.
                </li>
            </ul>
            
            <strong>Quality Guarantee</strong>
            <ul>
                <li> If you are not satisfied with the quality of any of the products you received, we will happily
                    refund your money or replace the products. This is in line with 'our promise' which is printed on
                    all of our packaging. </li>
                <li> To exchange, please call either our customer care team on: +880 1730785675-9 or take those products
                    to one of our stores, in the original packaging and in a saleable condition along with the receipt
                    or invoice which arrived with your online order and we will replace the product. </li>
                <li> To request for refund, please contact with our customer care team by completing this online form
                    (including your order number) or via phone: +880 1730785675-9. Once the online form has been
                    completed, we will process the refund as soon as possible and, in any case, within 14 calendar days
                    after the day on which we receive the products back, or 14 days after the day on which you gave us
                    the evidence of having sent the products back, whichever is sooner. We will usually refund you by
                    the same method as your original payment. If you are not satisfied with a large number of products,
                    we may ask you to take the products back to store, or we may arrange for a collection of the
                    products before processing a refund. </li>
            </ul>

            <strong>Special Offers, Promotions and Competitions</strong>
            <ul>
                <li>From time to time, and in our complete discretion, we may offer special pricing, bundles, deals,
                    discounts or similar to online or in-store customers. These offers will be available in the
                    Bangladesh.</li>
                <li>Offers may vary from store to store. Offers may vary between in-store and online. Some offers will
                    be online exclusives. All offers are subject to availability.</li>
                <li>In the event that a special offer, promotion, discount, bundle or deal applies to your order,
                    subject to you having complied with the specific terms of same, we shall apply the appropriate
                    pricing or action to your order.</li>
                <li>We may change the terms of special offers, or withdraw them altogether, at any time and without
                    prior notice. We reserve the right to offer, in our complete discretion, different customers
                    different special offers, promotions and the ability to enter different competitions.</li>
                <li>Only one discount code of any type may be used for per transaction. We believe, in our reasonable
                    opinion, that a discount code has been used more than once, we reserve the right, in our absolute
                    discretion, to not apply the discount code to the transaction and to take full payment using the
                    payment method selected, or we may take decision to cancel the order entirely.</li>
                <li>We may offer 7 Day Deals from time to time as advertised on our website. You may purchase a maximum
                    of four products online during the offer period, and all deals are subject to availability whilst
                    stocks last. Store maximum limits may also apply.</li>
                <li>If you amend or cancel your order after the last day of a special offer as notified to you in the
                    terms of the special offer, the standard price will be applied to the products in your order. </li>
            </ul>

            <strong>Our Liability</strong>
            <ul>
                <li>Unrestricted by law: Nothing in these terms and conditions will restrict our liability for death or
                    personal injury resulting from our acts or omissions, breach of contract, or breach of statutory
                    duty.</li>
                <li>Nothing in these terms and conditions will restrict any of your statutory rights.</li>
                <li>We will not be liable for any indirect or consequential loss, or damage, or loss of profits, or
                    reliance you may have had in having the products or your order delivered to you, which arises out of
                    any failure by us to supply the products or your order to you.</li>
                <li>Other than as set out above, our maximum liability arising out of any order for the supply of
                    products to you will be limited to the price of the products contained in that order.</li>
                <li>We are respected and following Digital Security Act 2018; Information and Communication Technology
                    Act, 2006; The Right to Information Act 2009.</li>
            </ul>

            <strong> Variation to These Terms and Conditions</strong>
            <ul>
                <li>We may change these terms and conditions from time to time and you will notify this by stating the
                    date of the version at the top of this page.</li>
                <li>Every time you place an online order with us, the terms and conditions and privacy policy in force
                    at that time will apply to the order.</li>
            </ul>
        </div>
    </div>
</div>