<div class="container">
    <div class="row">
        <div class="col-12 bg-white my-3 text-justify">
            <h3 class="text-center my-3">Return & Refund Policy</h3>

            <strong>Make changes or Cancelling Your Online Order and Refund Process</strong>
            <ol>
                <li> <strong>Make change your order:</strong> you can cancel or amend your order at any time up to 11pm
                    the day before your order is due to be delivered. We allow up to five amendments per order if the
                    order value is increased during an order change. If the order value remains the same value or less,
                    there are no limitations on how many times you can amend the order. All increases in order value are
                    subject to the pre-authorization check on your payment account. </li>
                <li> <strong>Cancelling your order:</strong> You also have a legal right to cancel an order at any time
                    up to 14 working days (not including Friday, Saturday or public holidays) from the day after the day
                    the products are delivered to you. You are welcome to change your mind and decide that you do not
                    want to keep a product. You can notify us of your decision to cancel and receive a refund. This
                    right to cancel does not apply to: </li>
                <li> Perishable products, such as fresh food or drink; and/or perishable products, such as fresh food or
                    drink; and/or </li>
                <li> Term which cannot be resold for health and hygiene reasons once unwrapped (for example, personal
                    grooming products and certain baby products etc.) </li>
                <li><strong>How to cancel:</strong> <br><i>Standard delivery (including next day delivery slots)</i>
                    <ul>
                        <li>To cancel an order before 11pm: Please either log in to your online account, select order
                            history, and cancel the relevant order, or contact us via our Customer Care team. You will
                            need to provide the email address registered with your account and confirm the order number
                            you wish to cancel. The pre-authorization on the card will be cancelled this may take up to
                            5 working days to process depending on your issued date.</li>
                        <li>To cancel an order after 11pm: Please contact our Customer Care team, by filling in this
                            online form or call Customer Care on: 01730785675-9 and provide the email address registered
                            with your account and confirm the order number you wish to cancel. The money will be
                            refunded to your account as soon as possible and, in any case, within 14 calendar days of
                            notification of cancellation.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Same day delivery:</strong> <br> <i> To cancel a same day order before 12pm</i>
                </li>
                <li>Simply log into your account, and go to Order History, and select the Cancel button in the Current
                    Order section. The money will be refunded to your account as soon as possible and, in any case,
                    within 14 calendar days of notification of cancellation.</li>
                <li><strong>To cancel an order once the goods are received:</strong> Please contact our Customer Care
                    team by filling in this online form or call Customer Care on: 01730785675-9 and provide the email
                    address registered with your account number. We will process the refund as soon as possible and, in
                    any case, within 14 calendar days after the day on which we receive the products back, or 14 days
                    after the day on which you gave us the evidence of having sent the products back, whichever is
                    sooner. We will usually refund you by the same method as your original payment.</li>
                <li><strong>Reasonable care of goods:</strong> You must take reasonable care of the products to be
                    returned and
                    store them in an appropriate manner, e.g. frozen products or Products that have a short shelf life
                    must be kept in a freezer/suitable temperature. Unless the products were misdescribed on our website
                    or are faulty, we may require you to return the products at your own cost. The products must be
                    returned undamaged and in the original packaging.</li>
                <li>Feel free to contact us for any advice on product returns or product changes: Wada Bangladesh
                    Limited, Suit no. 13, Level no 4, Sahera Tropical Center, 218, Elephent Road, Dhaka-1205. Email:
                    support@wada.com.bd, ceo@wada.com.bd More Information, Please see:
                    <a routerLink="/terms"><strong>Terms of Use</strong></a>
                </li>
            </ol>
        </div>
    </div>
</div>