<div class="container-fluid component-head">
    <h3>My orders</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                    <div> <i class="fa fa-list"></i> <b> Order list</b></div>
                    <select id="inputState" class="form-control">
                        <option selected="">All</option>
                        <option>Created</option>
                        <option>Pending</option>
                        <option>Confirmed</option>
                        <option>Processing</option>
                        <option>Picked</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                        <option>Cancel</option>
                    </select>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let ord of orderPage?.docs" [class.active]="ord._id==order?._id"
                    (click)="onSelectOrder(ord._id)">
                    <div class="mr-3">
                        <span class="text-muted">{{ord._id}}</span><br>
                        {{ord.createdAt | date:'MMM d, y, h:mm a'}}
                    </div>
                    <div class="order-status bg-info text-white">{{ord.status[ord.status.length - 1].label}}</div>
                    <!-- <span class="badge badge-primary badge-pill">14</span> -->
                </li>
            </ul>
        </div>
        <div class="col" *ngIf="order">
            <h4>Invoce # {{order._id}}</h4>
            <h3>Product List</h3>
            <table class="table bg-white">
                <thead>
                    <tr>
                        <td>Description</td>
                        <td>Quantity</td>
                        <td>Rate</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pList of order.product_list">
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="product_image" [src]="thumbUrl + pList.product._id" alt="">
                                <div class="ml-2">
                                    {{pList.product.name}} <br>
                                    <span class="text-muted">Size: {{pList.product.size}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="pt-4">{{pList.quantity}}</td>
                        <td class="pt-4">{{pList.rate}}</td>
                        <td class="pt-4"> <strong> {{pList.amount}} </strong></td>
                    </tr>
                </tbody>
            </table>
            {{order| json}}
        </div>
    </div>
</div>