:host {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  display: block;
  position: relative;
  min-height: calc(100% - 57px);
  background-color: #f2f4f5;
}
.list-group-item {
  cursor: pointer;
  &:hover {
    background-color: lightcyan;
  }
}
.order-status {
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 3px;
}
.form-control {
  width: auto;
}
.list-group-item {
  padding: 5px 10px;
}

.list-group-item.active {
  color: black;
  background-color: rgb(255, 245, 245);
}
.product_image {
  height: 90px;
}
