<div class="container">
    <div class="row" *ngIf="!order">
        <div class="offset-md-3 col-md-6">
            <app-address-form (create)="onCreate($event)" (update)="onCreate($event)" [item]="user"></app-address-form>
        </div>
    </div>

    <div class="container my-4" *ngIf="order">
        <app-order-details [order]="order"></app-order-details>
        <div class="d-flex flex-row-reverse my-3"
            *ngIf="order.paymentStatus !=='Paid' && order.paymentMethod !== 'cod'">
            <button class="btn btn-sm btn-primary" (click)="wPaynow(order._id)">Pay now</button>
        </div>
    </div>
</div>