@import "../../../assets/theme.scss";
.invoice {
  font-size: 14px;
}

.invoice-head,
.invoice-products,
.invoice-info,
.invoice-footer,
.dashed {
  border-bottom: 1px dashed $secondary-text-color;
}
.invoice-head-text {
  //   font-size: 14px;
  color: $secondary-text-color;
}

.invoice-type {
  text-transform: uppercase;
  & span {
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 4px;
    // border: 1px solid $secondary-text-color;
  }
}

.invoice-info {
  padding: 10px 20px 0 20px;
  // font-size: 14px;
}

.invoice-footer {
  padding: 10px 16px 0 16px;
}

// .dashed {
//   margin-top: 2px;
// }
.invoice-bottom {
  margin: 2px;
  border: 1px dashed $secondary-text-color;
}
