<div id="footer" class="d-print-none">
  <div class="footer footer4">
    <div class="container">
      <!-- End Service Footer -->
      <div class="footer-list-box">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="newsletter-form footer-box">
              <h2 class="title14">Payment methods</h2>
              <div class="payment-method text-center">
                <img src="assets/images/paymets/pay1.png" alt="">
                <img src="assets/images/paymets/pay2.png" alt="">
                <img src="assets/images/paymets/pay3.png" alt="">
                <img src="assets/images/paymets/pay6.png" alt="">
                <img src="assets/images/paymets/pay7.png" alt="">
                <img src="assets/images/paymets/pay9.png" alt="">
                <img src="assets/images/paymets/pay8.png" alt="">
                <img src="assets/images/paymets/pay5.png" alt="">
                <img src="assets/images/paymets/pay11.png" alt="">
                <img src="assets/images/paymets/pay10.png" alt="">
                <img src="assets/images/paymets/pay4.png" alt="">
              </div>

            </div>

          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="menu-footer-box footer-box">
              <h2 class="title14">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a routerLink="/terms">Terms of Use</a></li>
                <li><a routerLink="/privacy">Privacy Policy</a></li>
                <li><a routerLink="/return">Return and Refund</a></li>
              </ul>
              <div class="social-footer footer-box">
                <h2 class="title14">Stay Connected</h2>
                <div class="list-social">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                  <a href="#"> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <!-- <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a> -->
                  <!-- <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="contact-footer-box footer-box">
              <h2 class="title14">contact us</h2>
              <p class="formule-address"> Suit# 13, Level# 4, Sahera Tropical Center <br> 218, Elephant Road, Dhaka-1205
              </p>
              <p class="formule-phone">+88 01730785675-9 </p>
              <p class="formule-email"><a href="mailto:support@wada.com.bd">support@wada.com.bd</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Footer List Box -->
    </div>

    <!-- End Payment -->

    <!-- End Footer Tab -->
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <p class="copyright">Wada Bangladesh Limited © 2020-2021 by wada.com.bd. All rights reserved. </p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p class="designby">Design & Develop by: <a href="mailto:nazmuldipu@gmail.com">Nazmul Alam</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Copyright -->
  </div>
</div>