<form [formGroup]="form" class="my-3 p-4 shifting-form label1 text-left" (ngSubmit)="submit()">
    <div formArrayName="items">
        <div class="border p-2 my-2" *ngFor="let des of getProductDetailsItems(form); let i = index">
            <div [formGroupName]="i">
                <div class="form-group">
                    <input class="form-control" formControlName="title" id="title" placeholder="Title" />
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="texts" formControlName="text" placeholder="Description"
                        rows="3"> </textarea>
                </div>

                <div formArrayName="points">
                    <div class="row my-1">
                        <div class="col-auto">
                            <button class="btn btn-sm btn-warning" (click)="addPoints(i)" type="button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col pl-0">
                            <div class="form-group" *ngFor="let t of des.controls.points.controls; index as j">
                                <input class="form-control" [formControlName]="j" placeholder="Point {{ j + 1 }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="d-flex flex-row-reverse bd-highlight">

        <button type="submit" class="btn btn-warning mx-1" [ngClass]="{ disabled: form.invalid }" type="submit">
            Add Details
        </button>

    </div>
</form>