<div class="container-fluid component-head">
    <h3>Products</h3>
</div>

<!-- Toast service will display here -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="container-fluid">
    <loading *ngIf="loading"></loading>
    <alert-messages [message]="message" [type]="'success'" (close)="onClose()"></alert-messages>
    <alert-messages [message]="errorMessage" [type]="'danger'" (close)="onClose()"></alert-messages>
    
    <div class="row" *ngIf="!loading">

        <div [ngClass]="(product || showProductForm)?'col-md-6':''" class="col-12 pr-0">
            <nav class="navbar navbar-light bg-light border">
                <a class="navbar-brand">Product List</a>
                <button type="button" class="btn btn-success btn-sm" (click)="onShowProductForm()">
                    + ADD PRODUCT
                </button>
            </nav>
            <div class="p-3 border border-top-0 bg-white">
                <form class="my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
                </form>

                <table class="table table-hover table-bordered mt-2 text-secondary"
                    [ngClass]="(product || showProductForm)?'table-responsive':'table-responsive-sm'">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th class="text-center">Priority</th>
                            <th class="text-center">Active</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="productsPage?.docs?.length > 0">
                        <tr *ngFor="let product of productsPage.docs; index as i">
                            <td>
                                <img class="product-image" [src]="thumbUrl + product._id "
                                    [alt]="product.name + ' image'" />
                            </td>
                            <td><a (click)="onDetails(product._id)" class="text-primary"> {{ product.name }} </a></td>
                            <td>{{ product?.brand?.name }} </td>
                            <td>{{ product?.category?.name }} </td>
                            <td>{{ product?.sub_category?.name }} </td>
                            <td class="text-center">{{ product.priority }}</td>
                            <td class="text-center">{{ product.active?'Active':'Inactive' }}</td>
                            <td class="text-right">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <!-- <button type="button" class="btn btn-light border"
                                        (click)="onAddDetails(product._id)"> <i class="fa fa-list"></i> </button> -->
                                    <button type="button" class="btn border"
                                        [ngClass]="product.active?'btn-danger':'btn-primary'"
                                        (click)="onToggleActive(product._id, product.active)"> <i class="fa"
                                            [ngClass]="product.active?'fa-ban':'fa-check'"></i> </button>
                                    <button type="button" class="btn btn-light border" (click)="onEdit(product._id)"> <i
                                            class="fa fa-pencil"></i> </button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination [page]="productsPage" (paginate)="onChangePage($event)"></pagination>

        </div>
        <div class="col-md-6 col-12" *ngIf="!showProductForm && product">
            <div class="row m-0">
                <div *ngFor='let in of counter(product.image_count) ;let i = index' class="column">
                    <img class="img-fluid border" [src]="imageUrl + product._id + '/' + i"
                        [alt]="product.name + ' image'" />
                </div>
            </div>


            <h3 class="text-center">{{product.name}}</h3>
            <table class="table table-hover border bg-white">
                <tbody>
                    <tr>
                        <td class="pl-2">Name</td>
                        <th>{{product.slug}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Priority</td>
                        <th>{{product.priority}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Active</td>
                        <th>{{ product.active?'Active':'Inactive' }}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Price</td>
                        <th>{{product.price}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Old price</td>
                        <th>{{product.old_price}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Category</td>
                        <th>{{product.category?.name}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">SubCategory</td>
                        <th>{{product?.sub_category?.name}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">SubSubCategory</td>
                        <th>{{product?.sub_sub_category?.name}}</th>
                    </tr>
                    <tr>
                        <td class="pl-2">Brand</td>
                        <th>{{product.brand?.name}}</th>
                    </tr>

                </tbody>
            </table>

            <!-- {{ product?.details?.items| json}} -->
            <div *ngFor="let item of product?.details?.items">
                <div class="row m-0 bg-white py-2">
                    <div class="col ">
                        <details-collapse [item]='item'></details-collapse>
                    </div>
                    <div class="col-auto pl-0">
                        <button class="btn btn-sm btn-danger" (click)="onDeleteDetails(item.title)">Delete</button>
                    </div>
                </div>
            </div>

            <div class="col-12" *ngIf="showProductDetailsForm">
                <product-details-form [productId]="product?._id" (create)="onAddProductDetails($event)">
                </product-details-form>
            </div>

            <div class="d-flex flex-row-reverse py-3">
                <button class="btn btn-danger mx-1" (click)="onClose()">Close</button>
                <button class="btn btn-primary mx-1" (click)="onProductDetails(product._id)">Add Product
                    Details</button>
            </div>
        </div>
        <div class="col-md-6 col-12" *ngIf="showProductForm">
            <product-form [categories]="categories" [brands]="brands" [product]="product" (create)="onCreate($event)"
                (brandSearch)="onBrandSearch($event)" (update)="onUpdate($event)" (close)="onClose()">
            </product-form>
        </div>


    </div>
</div>