<div class="form-head border border-bottom-0">
    {{exists?'Update': 'New'}} User
</div>

<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3 border">
    <!-- Form Elements -->
    <form-input [fieldId]="'name'" [control]="form.get('name')"></form-input>
    <form-input [fieldId]="'email'" [control]="form.get('email')"></form-input>
    <form-input [fieldId]="'phone'" [control]="form.get('phone')"></form-input>
    <form-password [fieldId]="'password'" [control]="form.get('password')"></form-password>

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'Update':'Save'}}</button>
        </span>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>