<h4 class="text-center text-primary py-2"><strong>Log in</strong></h4>
<p class="px-4 text-center">Sign in to see your favourites, complete your order or manage your account. </p>

<ng-container *ngIf="err.length>0">
    <p class="px-4 text-center text-danger">{{err}}</p>
</ng-container>

<form class="px-4 pb-3" [formGroup]="form" (ngSubmit)="submit()">
    <!-- Form elements -->
    <form-input [fieldId]="'phone'" [control]="form.get('phone')"></form-input>
    <form-password [fieldId]="'password'" [control]="form.get('password')"></form-password>

    <small> <a routerLink="/password-reset" class="w-link">Lost your password?</a> </small>
    
    <!-- Buttons -->
    <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
        <button type="submit" class="btn btn-block btn-sm btn-wada" [disabled]="!form.valid">Sign in</button>
    </span>
    
    <small> <a routerLink="/activate-user" class="w-link">Activate your account.</a> </small>
    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>

<div class="dropdown-divider"></div>
<div class="px-4">
    <h4 class="text-center text-success">New to wada ? </h4>
    <a routerLink="/register" class="btn btn-block btn-sm btn-success">Creat an Account</a>
</div>