<div class="container-fluid component-head d-print-none">
    <h3>Inventory List</h3>
</div>
<div class="form-head d-none d-print-block m-3">
    {{warehouse?.name}} Warehouse Inventory list
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 d-print-none">
            <warehouse-side-list (select)="onWarehouseSelect($event)"></warehouse-side-list>
        </div>

        <div class="col bg-white pb-3" *ngIf="inventoryPage && !inventory">
            <inventory-list [inventoryPage]="inventoryPage" (details)="onDetails($event)"
                (refresh)="refreshInventoryData(warehouse?._id,$event)"></inventory-list>
            <button class="btn btn-sm btn-danger d-print-none float-right" (click)="onClose('list')">Close</button>
        </div>

        <div class="col bg-white pb-3" *ngIf="inventory">
            <inventory-details [inventory]="inventory"></inventory-details>
            <button class="btn btn-sm btn-danger d-print-none float-right" (click)="onClose('details')">Close</button>
        </div>
    </div>
</div>