<div class="form-head">
    Warehouse Assign
</div>
<ng-container *ngIf="err.length>0">
    <p class="px-4 text-center text-danger">{{err}}</p>
</ng-container>

<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3">
    <form-object-label [label]="'Warehouse*'" [name]="item?.name" [showButton]="false"></form-object-label>

    <div class="form-group">
        <label for="userId" class="d-none d-sm-block col-form-label col-form-label-sm p-0">User*</label>
        <input id="userId" type="text" class="form-control form-control-sm" [ngbTypeahead]="searchUser"
            [resultFormatter]="formatter" [inputFormatter]="formatter" [editable]='false'
            (selectItem)="onSelectUser($event)" />
        <small class="form-text text-danger" *ngIf="form.controls.userId.errors && form.controls.userId.touched">userId
            Required</small>
    </div>

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'Update':'Save'}}</button>
        </span>
        <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>