<div class="form-head">
    {{exists?'Update': 'New'}} Brand
</div>
<ng-container *ngIf="err.length>0">
    <p class="px-4 text-center text-danger">{{err}}</p>
</ng-container>

<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3">

    <!-- Form Elements -->
    <form-input [fieldId]="'name'" [control]="form.get('name')">
    </form-input>
    <form-input [fieldId]="'priority'" [control]="form.get('priority')" [type]="'number'">
    </form-input>
    <form-file [fieldId]="'image'" [form]="form" [hints]="'Preferred image size is 400x400 px'" (err)="onError($event)"></form-file>

    <!-- <div class="form-group">
        <label for="image" class="col-form-label">Image</label>
        <input type="file" class="form-control" id="image" (change)="uploadFile($event)" multiple>
    </div> -->

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'Update':'Save'}}</button>
        </span>
        <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <form-validator [form]="form"></form-validator>
    </div>
</form>