$primary-color-dark: #111629;
$primary-color: #f40;
$primary-color-light: #253364;
$primary-color-text: #ffffff;
$accent-color: #f7a71a;
$web-color:#3f87c7;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
