<nav class="navbar navbar-light bg-light border border-bottom-0">
    <a class="navbar-brand">Change password form</a>
</nav>
<div class="form p-3 border border-top-0">
    <ng-container *ngIf="err.length>0">
        <p class="m-0 text-center text-danger bg-white">{{err}}</p>
    </ng-container>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-block">
            <!-- Form elements -->
            <form-input [fieldId]="'oldPassword'" [control]="form.get('oldPassword')"></form-input>
            <form-input [fieldId]="'newPassword'" [control]="form.get('newPassword')"></form-input>
            
            <!-- Buttons -->
            <div class="d-flex flex-row-reverse">
                <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
                    <button type="submit" class="btn btn-sm btn-success mx-1" [disabled]="!form.valid">Update</button>
                </span>
            </div>

            <!-- Form validation error list -->
            <div *ngIf="mouseoverShifting" class="text-danger">
                <form-validator [form]="form"></form-validator>
            </div>
        </div>

    </form>
</div>