<nav class="navbar navbar-light bg-light border">
    <a class="navbar-brand">Stock List of <strong>{{name}}</strong></a>
    <button class="btn btn-sm btn-primary mx-1" (click)="onPrint()"><i class="fa fa-print"></i> Print</button>
</nav>

<table class="table table-hover table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th>Product</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Purchase price</th>
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pst of productStockPage.docs">
            <td>{{pst.product.name}}</td>
            <td>{{pst.product.size}}</td>
            <td>{{pst.quantity}}</td>
            <td>{{pst.purchase_price}}</td>
            <!-- <td class="text-right">
                <div class="btn-group rounded" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light border py-0 px-1" (click)="onDetails(pst._id)"> <i
                            class="fa fa-file-text-o"></i></button>
                </div>
            </td> -->
        </tr>
    </tbody>
</table>