<!-- <div class="container">
    <img class="img-fluid" src="assets/images/meraki.jpg" alt="">
    <h3>This website is under construction. Please wait for finish. Thank you</h3>
</div>
<div class="container">
    Developed by <a href="https://www.unololtd.com" target="_blank"> UNOLO Technology Limited </a>
</div> -->

<div class="main-area">

  <section class="left-section" style="background-image: url(/assets/images/model.jpg)">


  </section><!-- left-section -->


  <section class="right-section full-height">

    <a class="logo" href="#"><img src="assets/images/logo.png" alt="Logo"></a>

    <div class="display-table">
      <div class="display-table-cell">
        <div class="main-content">
          <h1 class="title"><b>Under Construction</b></h1>
          <p class="desc">Our website is currently undergoing scheduled maintenance.
            We Should be back shortly. Thank you for your patience.</p>

          <div class="email-input-area">
            <form method="post">
              <input class="email-input" name="email" type="text" placeholder="Enter your email">
              <button class="submit-btn" name="submit" type="submit"><b>NOTIFY US</b></button>
            </form>
          </div><!-- email-input-area -->

          <p class="post-desc">Sign up now to get early notification of our lauch date!</p>
        </div><!-- main-content -->
      </div><!-- display-table-cell -->
    </div><!-- display-table -->

    <ul class="footer-icons">
      <li>Stay in touch : </li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      <li>&nbsp;&nbsp; Developed by <a href="https://www.unololtd.com" target="_blank" class="company"> UNOLO Technology
          Limited </a> </li>
    </ul>

  </section><!-- right-section -->

</div>
