<div class="container">
    <div class="row">
        <div class="col-12 bg-white my-3 text-justify">
            <h3 class="text-center my-3">Privacy Policy</h3>

            <strong>How are we using this information?</strong>
            <p>Wada has used this information to identify customers within our records, so that we can contact them to
                Discount priority access to our online delivery slots. This is so we can assist as many of our
                potentially susceptible customers to get the product they need during this difficult time. Where we
                don't already hold a mobile number and email address on our customer accounts, we may use the email
                address given by the government to make contact. If we do this, then we will not use it for any other
                purpose, or add it to our records, unless our customer registers that email address with us.</p>
            <p>We may also respond to needs for other customers to be placed within the priority access process and
                identify their accounts as part of this process.</p>

            <strong>Why are we using this information?</strong>
            <p> We have not been given any information about health conditions, but we understand that those on the list
                have a health condition in order to be included in the government's list. Our legal reason for using the
                personal information on the list is because there is a substantial public interest in making certain
                that customer who have been told to 'shield' by the government, have priority access to online delivery
                slots at this time. Our legal reason for holding and using most of our customer information is because
                it is in our legitimate interests to do so, and so that we can fulfil our contractual obligations to you
                as our customer. Further details on this can be found below. We have carefully assessed our legitimate
                business interests and the potential impact on individuals to ensure that their privacy and rights are
                protected throughout this process.</p>

            <strong>How long will we keep this information?</strong>
            <p> We will only keep the information provided by the Bangladesh government, and/or the fact that we have
                identified some of our customers as being entitled to priority access to delivery slots as a result of
                the COVID-19 pandemic, for as long as it is necessary to continue to provide this service. We will
                securely delete this information once the current public need has ended.</p>
            <p>General customer information will be kept and used in accordance with the remainder of our Privacy
                Policy, below.</p>


            <strong>What are my privacy rights?</strong>
            <p> We understand that some customers who are contacted about priority access to delivery slots may not want
                to be included in the priority service and/or may not want to receive any further communication about
                it. You can opt out by contacting the data protection team at ceo@wada.com.bd</p>

            <h5 class="mt-4"><strong> Privacy and Cookies Policy</strong></h5>
            <strong>Protecting your privacy</strong>
            <p> At Wada, you can trust us to deliver the best products for great value. And we want you to feel just as
                confident in us knowing we keep all your personal information safe and secure. We're committed to
                protecting your privacy, which is why we made this policy to explain how we may collect and use your
                personal information, and why this makes your life easier (trust us, it does!)</p>

            <strong>Why do we collect information?</strong>
            <p> We collect information from our customers to help us deliver and continually improve the service we
                Discount. That means when you shop with Wada, and/or apply for a Code, or use any of our services, we
                may collect personal information about you.</p>

            <strong>How do we use your information?</strong>
            <p>That's a big question. We use your information in a number of different ways and it all depends on the
                information. However, without your information, we won't be able to Discount all our fantastic services,
                such as deliver your shopping to your door, or provide you with our latest Discounts and updates (unless
                you've opted out of receiving marketing, of course). All the information we collect from you is used by
                us, or a trusted third-party processor acting on our behalf. Check out the tables below to see what we
                do, and why we do it. <br> What information may we collect? <br> Why do we collect it? <br> </p>

            <strong> Your name, age and gender</strong>
            <ul>
                <li>To help us verify your identity and personalize your Wada experience</li>
                <li>To provide essential fraud prevention and detection</li>
            </ul>

            <strong>Your home address</strong>
            <ul>
                <li> To assist our helpful home delivery drivers know where to find you</li>
                <li> To pinpoint your nearest Wada store, and find out which store(s) deliver to your address out which
                </li>
            </ul>


            <strong>store(s) deliver to your address</strong>
            <ul>
                <li> To make sure you're in the loop about all our fantastic features, products, services, events,
                    promotions and special Discounts, through the power of direct mail </li>
                <li> To help us find you when we respond to you by post </li>
                <li> To send you a Discount Code and any replacements (don't worry, all your savings are stored safely
                    on our system) </li>
                <li> To deliver money-off coupons, prize draw wins </li>
                <li> To send samples to our favorite bloggers and influencers </li>
                <li> To ensure you don't receive any more direct marketing mail by post if you have unsubscribed from
                    this service</li>
            </ul>

            <strong>Your email address</strong>
            <ul>
                <li> To help you register for a Discount Code that's bursting with benefits and/or an online shopping
                    account </li>
                <li> To give you a new password for your accounts </li>
                <li> To make it easy for you to view and customize your contact information </li>
                <li> To make sure you're in the loop about all our fantastic features, products, services, events,
                    promotions and special Discounts, through the power of email and social media adverts </li>
                <li> To send you order acknowledgement, amendment and completion emails when ordering our products
                    online, for a handy reference </li>
                <li> To ask whether you would like to review a purchase and help our products be the best they can be
                </li>
                <li> To record your emails and keep track of any issues or concerns you may have. This helps us to
                    continually improve our services </li>
                <li> To ensure you don't receive any more marketing emails if you have unsubscribed from this service
                </li>
            </ul>

            <strong>Your telephone number (including home and/or mobile numbers)</strong>
            <ul>
                <li> To get in touch with you if there's a query regarding your order, and make sure our service is spot
                    on </li>
                <li> To send you SMS/Email confirmations to help you track your order, while ordering online </li>
                <li> To make sure you're in the loop about all our fantastic features, products, services, events,
                    promotions and special Discounts, through the power of SMS/Email </li>
                <li> To ensure you don't receive SMS marketing messages if you have unsubscribed from this service</li>
            </ul>

            <strong>Your contact history (including telephone call recordings and feedback)</strong>
            <ul>
                <li> To ensure we always provide the best customer service and for training purposes </li>
                <li> To enable us to fully investigate any concerns you raise </li>
                <li> To log any questions or issues and inform the relevant stores to give you a helping hand </li>
                <li> To provide gestures of goodwill to customers (e.g. numeric digit) </li>
            </ul>

            <strong> Your phone or laptop (including your IP address, device type and, if you consent to sharing it with
                us, your location data)</strong>
            <ul>
                <li> To make sure our website is continually improving, and set useful default options for you </li>
                <li> To make your online Wada experience slicker, and tailor your journey around the website </li>
                <li> To provide essential protection against fraud, and meet our legal obligations about looking after
                    your data </li>
            </ul>

            <strong>Your purchase history and saved items</strong>
            <ul>
                <li> To perform our contract with you because if you can't put stuff in a basket, you can't buy it!
                </li>
                <li> To record your purchase history and create a list of your favourite items, making your shopping
                    experience quicker and easier every time you shop </li>
                <li> To understand your shopping habits, give you more of the things you love, and help us stay ahead of
                    the competition </li>
                <li> To help us comply with the law </li>
            </ul>


            <strong>Your payment information</strong>
            <ul>
                <li> To let you order products from the checkout, using PayPal and card payments, including debit,
                    credit and Discount Code. We'll take care of the rest Your My Account on Wada.com.bd or your
                    Discount Code account </li>
                <li> To help you access the My Account section and update your details, to keep things running smoothly
                </li>
                <li> To help you add your payment information and process orders, quickly and securely </li>
                <li> To let you select a theme and contact Wada regarding your shopping experience this allows us to
                    deal withYour queries quickly</li>
                <li> To provide testing using your information, which helps us tailor what versions of the website you
                    see and personalize your experience (that's right, you're making Wada better all the time, without
                    even realizing!) </li>
                <li> To keep you updated on your Discounts and rewards available to you through your Discount Code </li>
                <li> So you can always view your savings balance ensuring you know how much you can add to your basket
                    without breaking your budget </li>
            </ul>

            <strong>Your social media accounts (when you link your Instagram or Facebook accounts to us)</strong>
            <ul>
                <li> To let you log in to our website even quicker and easier than before </li>
                <li> To make sure you're in the loop about all our fantastic features, products, services, events,
                    promotions and special Discounts, through the power of social media </li>
            </ul>

            <strong>Your in-store transactions</strong>
            <ul>
                <li> To log your home delivery details, and help our drivers find your shopping and you! </li>
                <li> To give you printed copy of transaction information, and allow you to return items without any fuss
                </li>
                <li> To understand your shopping habits, give you more of the things you love, and help us stay ahead of
                    the competition </li>
                <li> To help us crunch the numbers and see which stores are doing best </li>
                <li> To help us comply with the law </li>
            </ul>

            <strong>Your responses to surveys, promotions and competitions</strong>
            <ul>
                <li> To perform our contract with you because hey, if we can't use your entry, you can't win! The law
                    allows us to collect and use the information set out above for a number of reasons, including: </li>
                <li> With your consent </li>
                <li> To perform our contracts with you, such as to deliver your shopping </li>
                <li> Legal compliance sometimes we don't have a choice, we are legally obliged to collect and share
                    information, for example in relation to fraud or criminal activity </li>
                <li> Legitimate interest: where we need to use your data as part of the running of our business to
                    provide our excellent goods and services and we will do this in a way that does not materially
                    impact any of your rights, freedoms or interests, for example the profiling activity we refer to
                    below.</li>
            </ul>


            <strong>How long will we hold your data for?</strong>
            <p>We will keep your personal information whilst you continue to shop and interact with us, for as long as
                necessary to fulfil the purposes we collected it for. We’re still working hard to get all of our systems
                aligned but your Discount Code and/or online shopping account will expire two years after you last shop
                with us and your information will be archived after the third year. However, we are required by law to
                keep some data for longer periods than other types and are entitled to hold on to some information where
                we have a legal right to do so. In general, we will not keep your personal information for longer than
                seven years after you last shop with us or interact with us before we deleted it and where we don't need
                it or are not obliged to keep it, we will delete it before.</p>

            <strong>It's easy to opt out</strong>
            <p>With each marketing communication you receive from Wada, you will be given the opportunity to opt-out of
                receiving future communications, such as post, telephone, SMS and email. But you can choose to opt out
                at any time, that's easy too. Simply contact us and we'll take care of the rest. Just be aware that it
                may take up to 28 days for all of our systems to be updated.</p>

            <strong>Creating customer profiles</strong>
            <p>Whether it's frozen or fresh, for the food cupboard or fridge, we've always got exciting promotions on at
                Wada. But how do we know which Discounts are for you? Well, to help us form a better, overall
                understanding of you as a customer, we combine your Discount Code and online shopping information – to
                give us a clear view of your shopping habits and bring you the Discounts and promotions that are most
                relevant to you.</p>

            <p>We call this profiling. And that's what makes every customer's Wada experience unique tailored just for
                them.</p>

            <strong>Your information</strong>
            <p>We want to earn and maintain your trust. So as a rule, we do not, and will not, sell any of your personal
                data to any third party. That includes your personal details, such as your name, address, email address
                or credit card information.</p>
            <p>However, we may share your data with the following categories of companies, as an essential part of being
                able to provide our services to you:</p>
            <ul>
                <li> Companies that do things to run our websites, our till systems and to get your purchases to you,
                    such as the IT companies who support our systems, payment service providers, delivery scheduling
                    companies and the systems that support our customer services teams </li>
                <li>Professional service providers, such as marketing agencies, advertising partners and other advisors
                    and agents, who help us run our business, undertake market research and gather product reviews</li>
                <li>Our security contractors, credit reference agencies, law enforcement, cyber security companies,
                    fraud prevention and crime reduction agencies, so we can help tackle fraud and criminal activity and
                    to determine risk to customer accounts. We may also receive information from these bodies and use it
                    to keep our customers and employees safe online and in store</li>
                <li>Companies approved by you, such as social media sites (if you choose to link your accounts to us)
                </li>
            </ul>
            <p> We may provide third parties with aggregated but anonymised information and analytics about our
                customers. But before we do, we'll make sure that it does not identify you. We may also be required to
                disclose your personal data to the police or other enforcement, regulatory or Government body upon a
                valid request to do so. These requests are assessed on a case by case basis and we'll always take your
                privacy into consideration before sharing.</p>

            <strong>Meet our affiliate websites</strong>
            <p>it comes to delivering the best products for great value, we can't do it all on our own. That's why we've
                partnered with various trusted third-party companies to provide goods and services to you. These goods
                and services can be accessed through links on our website to the third-party company's microsite a
                website which is owned and operated by the company, but is Wada branded or co-branded with the relevant
                affiliate.</p>
            <p>The main thing you need to know is that although some of these microsites may contain Wada.com.bd in
                their address; these microsites are not owned or operated by Wada. They are governed by their own terms
                and conditions and privacy policies, so it's definitely worth having a read of their policies too, to
                see how your information may be used.</p>
            <p>If you have any queries or concerns regarding these microsites, please contact the relevant third party,
                as detailed in their privacy policy, and they'll be happy to help you.</p>

            <strong> Preventing fraud</strong>
            <p>There's only one Wada product. All emails you receive from Wada will come from an email address ending in
                Wada.com.bd. So, if you receive any emails claiming to be from Wada which do not end in Wadaltd.com or
                Wada.com.bd, these may be fraudulent and should be forwarded to Wada at ceo@wada.com.bd</p>

            <strong>Don't forget your rights</strong>
            <p>Remember: your data is your data. So, you have the right to request:</p>
            <ul>
                <li> Access to the personal data we hold about you, free of charge in most cases</li>
                <li> The correction of your personal data when incorrect, out of date or incomplete</li>
                <li> That we stop using your personal data for direct marketing</li>
                <li> That we stop any consent-based processing of your personal data if you withdraw that consent</li>
                <li> That we delete your data, or stop processing it or collecting it, in some circumstances</li>
                <li> That we transfer or port elements of your data either to you or another service provider</li>
            </ul>
            <p>You can contact us to request to exercise these rights at any time as follows: To ask for your
                information to be updated, please use your online Wada account, or contact our customer services team.
            </p>
            <p>For any of the others, please contact our Office Wada Bangladesh Limited, Suit # 13, Level# 4, Sahera
                Tropical Center, 218, Elephant Road, Dhaka-1205, or email ceo@wada.com.bd</p>
            <p>We want to provide the best service to you, so we'll act on your requests where we can. But, sometimes,
                we may not be able to or may not be required to. If we choose not to action your request, we'll explain
                the reasons for our refusal.</p>


            <strong> Your right to withdraw consent</strong>
            <p>Whenever you give us your consent to use your personal data, you have the right to change your mind at
                any time and withdraw that consent. The easiest way to withdraw is to contact our helpful customer
                services team. Lots of the uses of your information set out in the table above are not based on your
                consent and therefore, we may continue to use your data, where we are legally allowed to. <br> Where we
                rely on our legitimate interest <br> In cases where we are processing your personal data on the basis of
                our legitimate interest, you can ask us to stop for reasons connected to your individual situation. <br>
                We must then do so, unless we believe we have a legitimate overriding reason to continue processing your
                personal data. If we choose not to action your request, we'll explain the reasons for our refusal.</p>

            <strong>Checking your identity</strong>
            <p>To protect the confidentiality of your information, we will ask you to verify your identity before
                proceeding with any request you make under this Privacy Notice. <br> If you have authorized a third
                party to submit a request on your behalf, that's fine too. We will just ask them to prove they have your
                permission to act.</p>

            <strong>Stay safe and secure</strong>
            <p>We work hard to make our websites as safe as possible. Which is why, if you register to use secured parts
                of the website, you may be asked to create a password. <br> Like with any password, you must keep this
                password confidential, must not disclose it or share it with anyone and will be responsible for all
                activities that occur under your password. If you know or suspect that someone else knows your password,
                you should notify us immediately (please see the ‘Contact us' section) <br> If we think there has been
                or is likely to be a breach of security or misuse of the website, you'll be the first to know. We may
                ask you to change your password or suspend your account until we've verified your identity and/or until
                your account has been secured. </p>

            <strong>Cookies (we're talking data, not dough)</strong>
            <p>We want to give each of our customers a personalized experience on our website. And cookies help us do
                just that. Cookies help us tell you apart from other users of our website, creating a more seamless
                experience made just for you.</p>

            <strong>What are cookies and how are they used?</strong>
            <p>A cookie is a small, harmless text file placed on your computer, tablet or mobile phone by lots of the
                websites that you visit. You can set your browser to reject cookies, but this will affect your ability
                to use certain features and shop online.</p>

            <strong>What types of cookies are there?</strong>
            <p>There are four main types of cookies here's how and why we use them:</p>

            <strong>Essential cookies</strong>
            <p>Essential cookies are well essential to use our website. They let you move around the site and use all
                its fantastic features, such as accessing secure areas. Without these cookies, the services that make
                your life easier, like shopping baskets or shopping lists, wouldn't be a thing. See, essential!</p>

            <strong>Performance cookies</strong>
            <p>These cookies collect information about how visitors use our website like which pages you go to most
                often, or if you get error messages from web pages. These cookies don't collect information that could
                identify you. In fact, all information is aggregated and anonymous. It's only used to improve how our
                website performs.</p>

            <strong>Functionality cookies</strong>
            <p>You know when a website remembers your past purchases, or details like your username to help you sign in
                faster? That's a functional cookie. They provide more personal features to enhance your experience.
                Again, the information these cookies collect may be anonymized, and they cannot track your browsing
                activity on other websites.</p>

            <strong>Targeted advertising cookies</strong>
            <p>We know, we know. No one wants to see adverts. But at least with cookies, you'll see adverts that are
                more relevant to you. In fact, these cookies limit the number of times you see an advert, and measure
                the effectiveness of an advertising campaign. <br> They are usually placed by advertising networks, but
                only with our permission. These cookies remember that you have visited a website, and share this
                information with other organizations such as advertisers. So, like our profiling system, every time you
                interact with Wada online, we're refining an experience to suit you.</p>

            <strong>Your choice of cookies</strong>
            <p>By using our site, you agree to us placing these cookies on your device and accessing them when you visit
                the site in the future. If you want to delete any cookies that are already on your computer, the ‘help'
                section in your browser should provide instructions on how to locate the file or directory that stores
                cookies. <br> Please note that by deleting or disabling future cookies, your user experience may be
                affected, and you might not be able to take advantage of certain functions of our site. (hey, that's
                just how the cookie crumbles!)</p>

            <strong>Changes to our privacy policy</strong>
            <p>We'll never leave our customers in the dark. Any changes we may make to our Privacy Policy in the future
                will be posted on this page and, where appropriate, notified to you by e-mail and in store.</p>

            <strong>Contact us</strong>
            <p>Phew, that was quite a lot to take in, right?<br> Whether you're feeling overjoyed or overwhelmed, take a
                deep breath, and fire all your thoughts our way. We're always happy to speak to our customers. <br> And
                when it comes to your privacy, we want you to feel as safe and secure as your information. So, if you
                have any questions, comments or requests regarding our Privacy Policy, please don't hesitate to contact
                our staff at ceo@wada.com.bd <br> Or just give our friendly customer services team a call on +88 01840
                024860. They're available Sat-Mon 10am-6pm, Wed-Tue 10am-6pm and Friday opening hours subject to change.
                We're big fans of putting pen to paper too. So, if you'd prefer to write to us, you can reach us at:
                <br> <br> Wada Bangladesh Limited <br> Suit# 13, Level# 4, Sahera Tropical Center <br> 218, Elephant
                Road, Dhaka-1205 <br> Last Updated: 18.04.2021 <br> </p>

        </div>
    </div>
</div>