<div class="container-fluid component-head">
    <h3>Free Delivery</h3>
</div>
<div class="container-fluid">
    <loading *ngIf="loading"></loading>
    <div class="alert alert-success alert-dismissible show" role="alert" *ngIf="message.length > 0">
        <strong>Success! </strong> {{ message }}
        <button type="button" class="close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible show" role="alert" *ngIf="errorMessage.length > 0">
        <strong>Failed! </strong> {{ errorMessage }}
        <button type="button" class="close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row" *ngIf="!loading">
        <div [ngClass]="(product || showProductForm)?'col-md-6':''" class="col-12 pr-0">
            <nav class="navbar navbar-light bg-light border">
                <a class="navbar-brand">Product List</a>
            </nav>
            <div class="p-3 border border-top-0 bg-white">
                <form class="my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
                </form>

                <table class="table table-hover table-bordered mt-2 text-secondary"
                    [ngClass]="(product || showProductForm)?'table-responsive':'table-responsive-sm'">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th class="text-center">Priority</th>
                            <th class="text-center">Active</th>
                            <th class="text-center">Delivery Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="productsPage?.docs?.length > 0">
                        <tr *ngFor="let product of productsPage.docs; index as i">
                            <td>
                                <img class="product-image" [src]="thumbUrl + product._id "
                                    [alt]="product.name + ' image'" />
                            </td>
                            <td><a (click)="onDetails(product._id)" class="text-primary"> {{ product.name }} </a></td>
                            <td>{{ product?.brand?.name }} </td>
                            <td>{{ product?.category?.name }} </td>
                            <td>{{ product?.sub_category?.name }} </td>
                            <td class="text-center">{{ product.priority }}</td>
                            <td class="text-center">{{ product.active?'Active':'Inactive' }}</td>
                            <td class="text-center">{{ product.free_delivery?'Free':'Paid' }}</td>
                            <td class="text-right">

                                <button type="button" class="btn border"
                                    [ngClass]="product.free_delivery?'btn-danger':'btn-primary'"
                                    (click)="onToggleFree(product._id)">
                                    {{ product.free_delivery?'Make Paid':'Make Free' }} </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination [page]="productsPage" (paginate)="onChangePage($event)"></pagination>
        </div>
    </div>
</div>