<home-hero *ngIf="hero" [hero]="hero" [isAuthenticated]="authService.isAuthenticated()" [imageUrl]="featureImageUrl" >
</home-hero>
<!-- <categories></categories> -->
<popular-products [products]="products" [thumbUrl]="productThumbUrl"></popular-products>
<app-feature-banner *ngIf="multibuy" [feature]="multibuy" [headline]="'Exclusive Multibuy'" [imageUrl]="featureImageUrl"></app-feature-banner>
<app-feature-banner *ngIf="special" [feature]="special" [headline]="'Special Offer'" [imageUrl]="featureImageUrl"></app-feature-banner>
<app-featured-offers *ngIf="featured.length" [featured]="featured" [imageUrl]="featureImageUrl"></app-featured-offers>
<!-- <front-special-offer></front-special-offer> -->
<!-- <offers></offers> -->