.cart {
  display: block;
  background: #eee;
  min-height: calc(100vh - 485px);
}
.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}
@media (max-width: 767px) {
  .card-body {
    padding: 10px;
  }
}

.col-details {
  text-align: center;
  padding: 10px 15px;
  min-width: 400px;
}
.col-price{
  text-align: right;
  padding: 10px;
  vertical-align: middle;
  min-width: 100px;
}
.col-quantity{
  text-align: center;
  vertical-align: middle;  
  padding: 10px 15px;
  min-width: 150px;
}
.quantity-amount{
  padding: 2px 10px;
}
@media (max-width: 767px) {
  .col-details {
    min-width: 130px;
  }
  .col-price{
    padding: 2px;
    min-width: 40px;
  }
  .col-quantity{
    padding: 0;
    min-width: 80px;
  }
  .quantity-amount{
    padding: 2px;
  }
}

.product-image {
  width: 50px;
}
.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}
.cart-icon {
  width: 50px;
}

.promo {
  &-text {
    &-link {
      cursor: pointer;
      font-weight: 600;
    }
  }
  &-form {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 500ms max-height;
    &.show {
      max-height: 200px;
    }
  }
}
