<navbar></navbar>
<div class="container text-center my-4" *ngIf="!cart?.product_list.length">
    <h3><i class="fa fa-frown-o" aria-hidden="true"></i> Your cart is empty.</h3>
</div>
<div class="container mt-3" *ngIf="cart?.product_list.length">
    <div class="row">
        <div class="col-md-8">
            <h5>Cart</h5>
            <div class="row product" *ngFor="let item of cart?.product_list">
                <div class="col-auto">
                    <img class="product-image" [src]="thumbUrl + item.product._id"
                        [alt]="item.product.name + ' image'" />
                </div>
                <div class="col">
                    <div class="product-name">{{ item.product.name }}</div>
                    <div class="product-size">Size : {{ item.product.size }}</div>
                    <div class="product-price">Price : {{ item.rate }}</div>
                    <div class="product-quantity">
                        Quantity :
                        <i class="fa fa-minus" (click)="setQuantity(item.product._id, -1)"></i>
                        &nbsp; {{ item.quantity }} &nbsp;
                        <i class="fa fa-plus" (click)="setQuantity(item.product._id, 1)"></i>
                    </div>
                </div>
                <div class="col-auto product-amount">৳{{ item.amount }}</div>
            </div>

            <h5>Shipping</h5>
            Add/Edit
            <a routerLocation="/shippingAddess"><strong> Shipping location </strong></a>
        </div>

        <!-- Cart Summary -->
        <div class="col-md-4">
            <h5>Summary</h5>
            <div class="promo-text">
                Do you have any
                <span class="promo-text-link" (click)="onTogglePromoForm()">Promo coder ?</span>
            </div>
            <div class="promo-form my-2" [class.show]="showPromoForm">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control mr-2" id="staticEmail2" />
                    </div>
                    <button type="submit" class="btn btn-outline-secondary mb-2">
                        Apply
                    </button>
                </form>
            </div>
            <div class="d-flex justify-content-between">
                <span>Subtotal</span> <span>৳{{ cart?.sub_total }}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="cart?.total_discount > 0">
                <span>Discount</span> <span>৳{{ cart?.total_discount }}</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>Estimated Shipping & Handling</span>
                <span>৳{{ cart?.shipping_charge }}</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>Estimated Tax</span> <span>৳{{ cart?.total_tax }}</span>
            </div>
            <div class="d-flex justify-content-between border-top border-bottom py-2 my-2">
                <strong>Total</strong> <strong>৳{{ cart?.total }}</strong>
            </div>
            <button class="btn btn-block btn-outline-success">Order now</button>
        </div>
    </div>
</div>

<fotter></fotter>